* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

.my-form, .list-group {
    min-width: 500px;
}

label {
    font-weight: 500;
}

#ipName-error {
    position: absolute;
    margin-top: 45px;
    color: #ff3a3a;
    font-size: 12px;
}

#ipName-success {
    color: #00b118;
    font-size: 12px;
}

.icon {
    width: 85px;
    height: 85px;
    margin-bottom: 20px;
}

.result-data {
    margin-top: 45px;
    display: none;
}

.my-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-title {
    color: #b9bfc2;
    font-weight: 500;
}

.list-group-description {
    color: #50565e;
    font-weight: 700;
}